@media (min-width: 1200px) {
    a {
        &:hover {
            color: var(--violet);
        }
    }

    .header {
        .menu-item {
            &:hover {
                a {
                    &::after {
                        color: var(--violet);
                        transform: rotate(-180deg);
                    }
                }

                .sub-menu {
                    display: grid;
                }
            }
        }

        .sub-menu {
            .menu-item {
                a {
                    &:hover {
                        color: var(--violet);
                    }
                }
            }
        }

        &__lang {
            &:hover {
                .header__active-language {
                    color: var(--violet);

                    &::after {
                        transform: rotate(-180deg);
                    }
                }

                .header__languages {
                    display: grid;
                }
            }
        }

        &__languages {
            a {
                &:hover {
                    color: var(--violet);
                }
            }
        }
    }

    .btn {
        &:hover {
            color: var(--violet);
            background: var(--white);
        }

        &--transparent {
            &:hover {
                color: var(--white);
                background: var(--blue);
                border: 1px solid var(--blue);
            }
        }

        &--sing-in {
            &:hover {
                color: var(--white);
                background: var(--blue);
            }
        }
    }

    .instruments {
        &__item {
            &:hover {
                transform: translateY(-30px);
                margin-top: 0;

                .btn {
                    display: block;
                }
            }
        }
    }

    .footer {
        .sub-menu {
            .menu-item {
                a {
                    &:hover {
                        color: var(--violet);
                    }
                }
            }
        }
    }

    .tariffs {
        &__item {
            &:hover {
                transform: translateY(-20px);
            }
        }

        &__more {
            &:hover {
                color: var(--violet);
    
                &::after {
                    background: url(../images/tariffs-more-hover.svg) center / contain no-repeat;
                }
            }
        }
    }

    .table {
        &__show {
            &:hover {
                color: var(--violet);
    
                &::after {
                    background: url(../images/tariffs-more-hover.svg) center / contain no-repeat;
                }
            }
        }
    }
}